<a href="https://colab.research.google.com/github/Kumud14/Infosys-ICT-Academy-/blob/main/2_day.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# sequence/combination datatype
# list
#tuple
# range
# string -> single ('), double ("), and triple quotes (''' or """)
#set

In [ ]:
#SLICING

In [ ]:
s_str='Hello'
print(s_str[0:3])

Hel

In [ ]:
s_str1={'Hello'}
result=s_str1.union(s_str)
print(result)

{'l', 'o', 'e', 'Hello', 'H'}

In [ ]:
#sequential data type

In [ ]:
#by using the index

In [ ]:
for i in range(0,len(s_str)):
  print(s_str[i],end)

In [ ]:
# by using sequence of character

In [ ]:
#replace

In [ ]:
new=s_str.replace('H','r')
print(new)

rello

In [ ]:
var ='r'
new_str = var + s_str[1:]
print(new_str) #shallow copy

rello

In [ ]:
typ = tuple()
print(typ)

()

In [ ]:
t = (1, 2, [3, 4])
t[2][0] = 99
t

(1, 2, [99, 4])

In [ ]:
#Write a Python program to count the number of characters (character frequency) in a string.
# Sample String : google.com'
s = 'google.com'
for ch in set(s):
  print(ch, ":", s.count(ch))

l : 1
o : 3
c : 1
e : 1
g : 2
m : 1
. : 1

In [ ]:
#Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead.

In [ ]:
def a(str):
  if len(str) < 2:
    return ''
  return str[0:2] + str[-2:]
print(a('w3resource'))
print(a('w3'))
print(a('w'))

w3ce
w3w3

In [ ]:
#Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '$', except the first char itself.

In [ ]:
def b(str3):
  char = str3[0]
  str3 = str3.replace(char, '$')
  str3 = char + str3[1:]
  return str3
print(b('restart'))

resta$t

In [ ]:
#Write a Python program to get a single string from two given strings, separated by a space and swap the first two characters of each string.

In [ ]:
def mix_strings(a, b):
    new_a = b[:2] + a[2:]
    new_b = a[:2] + b[2:]

    return new_a + " " + new_b

print(mix_strings("abc", "xyz"))

xyc abz

In [ ]:
# function
# - build in
# -user defined
    #Default , Keyword Argument , Multiple Positional ,Multiple Keyword
# -Anonymous Function
# -higher order

In [ ]:
def fun(*z):
  print(type(z))
  print(z)
fun(1,2,3,4)

<class 'tuple'>
(1, 2, 3, 4)

In [ ]:
def fun(**z):
  print(type(z))
  print(z)
fun(name="kumud",a ="200")

<class 'dict'>
{'name': 'kumud', 'a': '200'}

In [ ]:
# lambda function
#  var = lambda<parameter> :code block
#   print(var(parameter))

In [ ]:
from __future__ import generator_stop
# HIGHER ORDER FUNTION
# generator
# decorator

In [ ]:
def max(a,b):
  if a>b:
    return a
  else:
    return b
def max(a,b,c):
    return max(a,max(b,c))
print(max(20,35,19))

In [ ]:
def sum(number):
  total = 0
  for x in number:
    total += x
  return total
print(sum((8, 2, 3, 0, 7)))

20

In [ ]:
def mul(number):
  total =1
  for x in number:
    total *= x
  return total
print(mul((8, 2, 3,  7)))

336

In [ ]:
#Write a Python program to reverse a string.

In [ ]:
def fact(n):
  if n == 0:
    return 1
  else:
    return n * fact(n - 1)

n = int(input("Enter a number: "))
print("Factorial:", fact(n))

Enter a number: 5
Factorial: 120

In [ ]:
def tt(n):
  if n in range(3,9):
    print("in range ")
  else:
    print("not in range")
tt(2)

not in range

In [ ]:
#Write a Python program to create a lambda function that adds 15 to a given number passed in as an argument, also create a lambda function that multiplies argument x with argument y and prints the result.
add = lambda x, y: x + y
print(add(5, 3))
mul= lambda j,k : j*k
print(mul(5,3))

8
15

In [ ]:
#Write a Python program to create a function that takes one argument, and that argument will be multiplied with an unknown given number.
n = int(input("enter no"))
def ar(n):
  return lambda x:x*n
result = n(2)
print("Double the number of 15 =", result(15))

In [ ]:
mark=[('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]
print(mark)
mark.sort(key=lambda x: x[1])
print(mark)

[('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]
[('Social sciences', 82), ('English', 88), ('Science', 90), ('Maths', 97)]

In [ ]:
num=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(num)
even= list(filter(lambda x:x%2==0,num))
print(even)
odd=list(filter(lambda x:x%2!=0,num))
print(odd)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

In [ ]:
#Write a Python program to square and cube every number in a given list of integers using Lambda.
print(num)
nums = list(map(lambda x: x ** 2, num))
print(nums)
nums2 = list(map(lambda x: x ** 3, num))
print(nums2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
starts = lambda x: True if x.startswith('P') else False
print(starts('Python'))
print(starts('javascript'))

True
False

In [ ]:
# OOP :
# Abstraction
# encapsulation
# Inheritence
# polymorphism

In [ ]:
class c1:
  def __init__(self):
    pass
  id='23'
  name='kumud'
obj=c1() # ()to call constructor Since you didn’t define your own constructor (__init__), Python uses the default constructor.

obj=c1() #object creation
print(obj.id)
print(obj.name)

In [ ]:
# multi level inheritence

class c3():
  name="kumud"
class c4(c3):
  date=22
class c5(c4):
  curr=100
obj=c5()
print(obj.name)

kumud

In [ ]:
#multiple inheritence
class c3():
  name="kumud"
class c4():
  date=22
class c5(c3,c4):
  curr=100
obj=c5()
print(obj.name)
print(obj.date)

kumud
22

In [ ]:
class c1:
  def __init__(self):
    pass
  id='23'
  name='kumud'
def func(self):
  pass

In [ ]:
#Write a Python program to import a built-in array module and display the namespace of the said module.
import array
for name in array.__dict__:
    print(name)

__name__
__doc__
__package__
__loader__
__spec__
_array_reconstructor
ArrayType
array
typecodes

In [ ]:
import array
print(dir(array))  # dir array Returns a list of all functions, classes, and attributes defined in the module.

['ArrayType', '__doc__', '__loader__', '__name__', '__package__', '__spec__', '_array_reconstructor', 'array', 'typecodes']

In [ ]:
#Write a Python program to create a class representing a Circle. Include methods to calculate its area and perimeter.
import math
class Circle:
    def __init__(self, radius):
        self.radius = radius

    def area(self):
        return math.pi * self.radius ** 2

    def perimeter(self):
        return 2 * math.pi * self.radius
radius = float(input("Enter the radius of the circle: "))
c = Circle(radius)

print("Area of the circle:", c.area())
print("Perimeter of the circle:", c.perimeter())

Enter the radius of the circle: 5
Area of the circle: 78.53981633974483
Perimeter of the circle: 31.41592653589793

In [ ]:
#Write a Python program to create a person class. Include attributes like name, country and date of birth. Implement a method to determine the person's age.
from datetime import date
class Person:
    def __init__(self, name, country, date_of_birth):
        self.name = name
        self.country = country
        self.date_of_birth = date_of_birth
    def calculate_age(self):
        today = datetime.today()
        age = today.year - self.date_of_birth.year

        # Adjust if birthday hasn't occurred yet this year
        if (today.month, today.day) < (self.date_of_birth.month, self.date_of_birth.day):
            age -= 1
        return age

In [ ]:
#Write a Python program to create a calculator class. Include methods for basic arithmetic operations.
class Calculator:
  def sum(self,x,y):
    return x+y
  def sub(self,x,y):
    return x-y
  def mul(self,x,y):
    return x*y
cal=Calculator()
cal.sum(2,4)

6

In [ ]:
#Write a Python program to create a class that represents a shape. Include methods to calculate its area and perimeter. Implement subclasses for different shapes like circle, triangle, and square
import math

# Base class
class Shape:
    def area(self):
        return 0

    def perimeter(self):
        return 0

# Circle subclass
class Circle(Shape):
    def __init__(self, radius):
        self.radius = radius

    def area(self):
        return math.pi * self.radius ** 2

    def perimeter(self):
        return 2 * math.pi * self.radius

# Square subclass
class Square(Shape):
    def __init__(self, side):
        self.side = side

    def area(self):
        return self.side ** 2

    def perimeter(self):
        return 4 * self.side

circle = float(input("enter no 1"))
a=Square(circle)
print("Circle Area:", a.area())
print("Circle Perimeter:", a.perimeter())

enter no 15
Circle Area: 25.0
Circle Perimeter: 20.0

In [ ]:
# Write a Python class to check the validity of a string of parentheses, '(', ')', '{', '}', '[' and ']. These brackets must be closed in the correct order,
# for example "()" and "()[]{}" are valid but "[)", "({[)]" and "{{{" are invalid
class BracketCheck:
    def is_valid(self, string):
        stack = []
        for ch in string:
            if ch in "({[":
                stack.append(ch)
            elif ch in ")}]":
                if not stack:
                    return False
                if ch == ")" and stack[-1] != "(":
                    return False
                if ch == "}" and stack[-1] != "{":
                    return False
                if ch == "]" and stack[-1] != "[":
                    return False
                stack.pop()
        return stack == []


check = BracketCheck()

print(check.is_valid("()"))
print(check.is_valid("()[]{}"))
print(check.is_valid("[)"))
print(check.is_valid("({[)]"))

True
True
False
False

In [ ]:
#Write a Python class to reverse a string word by word.
class Reverser:
    def reverse(self, sentence):
        return ' '.join(sentence.split()[::-1])

r = Reverser()
print(r.reverse("I love Python"))

Python love I